.vscode
.ipynb_checkpoints
check.py
test.py
sample.py
/exercise.ipynb
*.txt
__pycache__
test.json
sample.json
*.html
test.csv
sample.csv
*.jpg
*.png
!app1.html
!app2_hello.html
!app2.html
!app3.html
!base.html
!index.html
!login.html
!msg.html
