.vscode
.ipynb_checkpoints
.mypy_cache
check.py
test.py
sample.py
/exercise.ipynb
*.txt
__pycache__
test.json
sample.json
*.html
test.csv
sample.csv
*.jpg
*.png
*.bmp
*.gif
*.pdf
*.tiff
*.webp
*.ico
example
*.db
*.db-journal
